.main {
    width: 50%;
    margin: 0 auto;
    padding: 16px;
    background-color: #C4C4C4;
}

.list-group-item {
    padding: 0;
}

.list-group-item:hover {
    background-color: aqua;
}
.container {
    border: 1px solid;
    background-color: #E27BEB;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    transition: top 5s;
    padding: 0 8px;
}
.commonElForInfo {
    flex-basis: 50%;
}
.common {
    font-size: 10px;
}
.icon {
    flex-basis: 20%;
    border: none;
    background-color: #E27BEB;
position: relative;
display: flex;
align-items: center;

}
.close {
    /* position: absolute;
    right: 32px;
    top: 32px; */
    width: 32px;
    height: 32px;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 30px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }